## .pb files ##
**/*.pb

## pycache ##
**/__pycache__/

## vscode ##
**/.vscode/

## Executables ##
**/*.out

## ghc files ##
**/*.h.gch

## temp files ##
**/*temp*

## .DS_Store ##
**/*DS_Store*

## Images ##
**/*.jpg

## Data ##
forward/data/MiniImageNet/

# Ipynb checkpoints #
**/.ipynb_checkpoints/
